<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Панель администратора</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
        <script>
        function uploadFile() {
            document.getElementById('uploadForm').submit();
        }
    </script>
</head>
<body>
    <div class="content">
        <table id="users">
            <tr>
                <th colspan="4"><h2>Admin</h2></th>
                <th><a href="/admin-logout">Выйти</a></th>
            </tr>
            <tr>
                <td colspan="2"><button class="del-user"></button></td>
                <td colspan="3">
                    <div class="drop-down-menu">
                        <div class="dd-header">
                            <div class="dd-header-text">Инструменты</div>
                            <div><button class="dd-header-button"></div>
                        </div>
                        <div class="dd-menu">
                            <form action="load_db" method="post"><button class="drop-element" id="update-data-bitrix">Выгрузить DB</button></form>
                            <div class="drop-element" style="padding-left: 6px;">
                                <form action="upload_db" method="post">
                                    <label for="upload_db">Загрузить DB</label>
                                    <input id="upload_db" type="file"  name="file" onchange="uploadFile()" style="display: none">
                                </form>
                            </div>  
                            <button id="del-admin" class="drop-element" id="update">Удалить Admin account</button>
                        </div>
                    </div>
                </td>
                <!-- <td><a href="/load_db">Выгрузить DB</a></td>
{#                <td><a href="/upload_db">Загрузить DB</a></td>#}
                <td>
                    <form id="uploadForm" action="upload_db" method="post" enctype="multipart/form-data">
                        <input type="file"  name="file" onchange="uploadFile()">
                    </form>
                </td>
                <td><button id="del-admin">Удалить admin account</button></td> -->
            </tr>

            <tr>
                <td><input type="checkbox" class="select-all-user"></td>
                {% for col in column %}
                    <td>{{ col }}</td>
                {% endfor %}
                <td>password</td>
                <td></td>
            </tr>
            {% for user in users %}
                <tr>
                    <td><input type="checkbox" class="select-user"></td>
                    {% for u in user %}
                        <td> {{ u }} </td>
                    {% endfor %}
                    <td>***</td>
                    <td>
                        <button class="edit-user"></button>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
</body>
</html>