<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Панель администратора</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
</head>
<body>
    <div class="content">
        <table id="users">
            <tr>
                <th colspan="4"><h2>Admin</h2></th>
                <th><a href="/admin-logout">Выйти</a></th>
            </tr>
            <tr>
                <td colspan="5"><button class="del-user"></button></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="select-all-user"></td>
                {% for col in column %}
                    <td>{{ col }}</td>
                {% endfor %}
                <td>password</td>
                <td></td>
            </tr>
            {% for user in users %}
                <tr>
                    <td><input type="checkbox" class="select-user"></td>
                    {% for u in user %}
                        <td> {{ u }} </td>
                    {% endfor %}
                    <td>***</td>
                    <td>
                        <button class="edit-user"></button>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
</body>
</html>