body {
    display: flex;
    justify-content: center;
}

.content {
    width: 290px;
    height: 250px;
    position: absolute;
    align-items: center;
}

.flash {
    padding: 10px;
    text-align: center;
    font-size: 12px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.flash.log-success,
.flash.reg-success {
    background: #aaffaa;
    font-family: "Roboto", sans-serif;
}
.flash.log-error,
.flash.reg-error {
    background: #ffbebe;
    font-family: "Roboto", sans-serif;
}