<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authentication</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/authentication_user.css') }}">
    <script>let page = '{{page}}'</script>
</head>
<body>
    <div class="content">
        <div class="tab">
            <button class="tab-links" id="tab-left" onclick="open_tab(event, 'authentication')">Авторизация</button>
            <button class="tab-links" id="tab-right" onclick="open_tab(event, 'registration')">Регистрация</button>
        </div>
        <div id="authentication" class="tab-content" style="display: block">
            <form action="/login" method="post" class="form-login">
                <table id="table-authentication" class="table">
                    <tr>
                        <td>
                            {% for cat, msg in get_flashed_messages(True) %}
                                {% if "log" in cat %}
                                    <div class="flash {{cat}}">{{msg}}</div>
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr><td><input class="enter-info" type="text" name="username" value="" placeholder="Логин" required/></td></tr>
                    <tr><td><input class="enter-info" type="Password" name="password" value="" placeholder="Пароль" required/></td></tr>
                    <tr><td><input class="submit-info" type="submit" value="Войти"/></td></tr>
                </table>
            </form>
        </div>
        <div id="registration" class="tab-content">
            <form action="/registration" method="post" class="form-registration">
                {% for cat, msg in get_flashed_messages(True) %}
                    {% if "reg" in cat %}
                        <div class="flash {{cat}}">{{msg}}</div>
                    {% endif %}
                {% endfor %}
                <table id="table-registration" class="table">
                    <tr><td><input class="enter-info" type="text" name="username" value="" placeholder="Придумайте логин" required/></td></tr>
                    <tr><td><input class="enter-info" type="Password" name="password" value="" placeholder="Придумайте пароль" required/></td></tr>
                    <tr><td><input class="enter-info" type="Password" name="repet-password" value="" placeholder="Повторите пароль" required/></td></tr>
                    <tr><td><input class="submit-info" type="submit" value="Зарегистрироваться"/></td></tr>
                </table>
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/authentication.js') }}"></script>
</body>
</html>